<section>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper white">
                <a onclick="navAbout()" href="#" class="brand-logo grey-text">DSC GCELT</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li onclick="navBlog()"><a href="#!" class="grey-text">Feeds</a></li>
                    <li onclick="navProject()"><a href="#!" class="grey-text">Projects</a></li>
                    <li onclick="navEvent()"><a href="#!" class="grey-text">Events</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="intro container xz">
        <div class="row">
            <div class="col s12 m4 valign-wrapper">
                <img class="responsive-img" src="assets/fax.png" alt="">
            </div>
            <div class="col s12 m8">
                <h4 class='flow-text'>Developer Student Clubs GCELT</h4>
                <h5 class=''>Make good things <em class='blue-text'>together</em>.</h5>
                <br />
                <span>Developer Student Clubs, Government College of Engineering and Leather
                    Technology powered by Google Developers is an initiative to concentrate
                    the efforts of many developers in and around campus to learn, share and get
                    productive using the various cutting-edge technologies.</span>
                <br /><br />
                <a target="_blank" href="https://forms.gle/Ak616VYAiWFkTJBd6" class="waves-effect waves-light btn blue ">Become A Member</a>
            </div>
        </div>
        <br /><br />
        <h4>Our Domain</h4>
        <div class="row">
            <div class="col s12 m7 l8">
                <div class="carousel fix-height-1 noselect">
                    <a class="carousel-item box noselect" href="#two!">ML/AI</a>
                    <a class="carousel-item box noselect" href="#three!">ANDROID</a>
                    <a class="carousel-item box noselect" href="#one!">WEB</a>
                    <a class="carousel-item box noselect" href="#four!">FLUTTER</a>
                </div>
            </div>
            <div class="col s12 m5 l4">
                <div class="center-cont">
                    <iframe width="334" height="188" src="https://www.youtube.com/embed/wTLe8nwJ_Lw" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="gap-20"></div>
    </div>
    <div class="parallax-container">

        <div class="parallax">

            <img src="assets/back2.jpg">
        </div>
    </div>
    <div class="what xz container">
        <div class="gap-20"></div>
        <h4 style="text-align: right;">what We Do 💼</h4>
        <br />
        <span>A Developer Student Clubs is a Google recognised student
            body at a college which directly reports to Google for their
            activities and is supported by the tech giant.
            A DSC conducts workshops, seminars and other fun activities which
            help the students connect with Google.</span>
        <br /><br /><br /><br />
        <div class="about-list row">
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class='csx' src="assets/talk.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Talk<i
                                class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Talk<i
                                class="material-icons right">close</i></span>
                        <p>Enhance computational programming skills and grow as a developer</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class='csx' src="assets/project.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Projects<i
                                class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Projects<i
                                class="material-icons right">close</i></span>
                        <p>Solve local problems and provide solutions using technology</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class='csx' src="assets/workshop.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Workshops<i
                                class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Workshops<i
                                class="material-icons right">close</i></span>
                        <p>Hands-on training sessions to help you advance your learning</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class='csx' src="assets/meetup.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Meet Ups<i
                                class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Meet Ups<i
                                class="material-icons right">close</i></span>
                        <p>Connect with tech enthusiasts and professionals</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <a class="waves-effect waves-light btn blue" target='_blank' href="https://developers.google.com/programs/dsc/">Learn More</a>
        <div class="gap-20"></div>
        <div class="gap-20"></div>
    </div>
    <div class="parallax-container valign-wrapper">

        <div class="parallax">
            <img src="assets/back1.jpg">
        </div>
    </div>
    <div class="socials container xz">
        <div class="gap-20"></div>
        <h4 class='center'>About Us</h4>
        <br />
        <p>Developer Student Club GCELT is inspired by Google Developers Family. We started
            our journey in Feb 2019. We try to engage student developers through our hack events,
            codelabs and meetups. The motive is to create a local ecosystem of programmers & hackers
            in and around the Campus.
            The technology awareness is main goal for first few years of the group.</p>
        <br />
        <p><strong>G</strong>oogle collaborates with university students who are passionate
            about growing developer communities and support them with starting
            student clubs on their campuses.
            DSC GCELT is the official Google recognised student clubs at GCELT.</p>
        <br /><br />
        <div class="btn-group">
            <a htef="https://github.com/dscgcelt" target="_blank" class="waves-effect waves-light btn blue"><i class="fab fa-github white-text"></i> Github Page</a>
            <a class="waves-effect waves-light btn blue"><i class="fab fa-facebook white-text"></i> Facebook Page</a>
            <a class="waves-effect waves-light btn blue"><i class="fab fa-instagram white-text"></i> Instagram Page</a>
        </div>
        <div class="gap-20"></div>
        <div class="gap-20"></div>
    </div>

</section>